*{
	font-family: 'Lobster', cursive;
}

body{
<<<<<<< HEAD
	
=======

>>>>>>> 52f42c65d1d1cffc4f690c7506347e672454399c
}

p{
	color: pink;
	font-size: 30px;
}

h1{
	color: red;
	font-size: 60px;
	text-align: center;
}

h2{
	color: green;
	font-size: 45px;
}

img{
	border: solid 4px blue;
	width: 350px;
	height: 200px;
}

button{
	background-color: yellow;
	font-weight: bold;
    width: 150px;
    height: 30px;
}
